section {
    padding-bottom: 2rem;
}

h1, h2 {
    color: #fff;
}

.card {
    width: 350px;
    justify-content: center;
    margin-bottom: 2rem;
    background: #c6c6c6;
    
}

.carousel-caption {
    left: 0;
    bottom: 0;
}